{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen Albums</h1>

  <div class="row row-cols-auto row-cols-md-2 row-cols-lg-3 justify-content-center">
      {% for album in queen.discography %}
        <div class="col">
          <img src="img/img-queen/discs/{{ album.image }}" alt="" class="img-fluid">
          <h3>{{ album.title }}</h3>
        </div>
      {% endfor %}
  </div>
</div>

{% endblock %}