{% extends '_templates/base.njk' %}

{% block page_title %}Band Members{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
  <div class="container">
      <h1>Queen the Band</h1>
        <p> Queen, formed in London in 1970, embarked on a legendary musical journey that spans genres and generations. The quartet—Freddie Mercury, Brian May, Roger Taylor, and John Deacon—blazed a trail with their dynamic sound, marked by Freddie's unparalleled vocals, Brian's intricate guitar work, Roger's powerful drumming, and John's solid bass lines. From the groundbreaking "Bohemian Rhapsody" on "A Night at the Opera" to anthems like "We Will Rock You" and "We Are the Champions," Queen's discography is a tapestry of innovation. Their iconic Live Aid performance in 1985 is etched in history. </p>
      <h2>Band Members</h2>
        <p>Here is a list of Queen's band members.</p>
  <div class="row">
    
      <div class="col">
        <img src="img/img-queen/members/freddie-mercury-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/freddie-mercury.html">Freddie Mercury</a></h3>
      </div>
    
      <div class="col">
        <img src="img/img-queen/members/brian-may-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/brian-may.html">Brian May</a></h3>
      </div>
    
      <div class="col">
        <img src="img/img-queen/members/roger-taylor-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/roger-taylor.html">Roger Taylor</a></h3>
      </div>

       <div class="col">
        <img src="img/img-queen/members/john-deacon-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/john-deacon.html">John Deacon</a></h3>
      </div>
        
         </div>
  <h2>Discography</h2>
  <p>List of studio albums for Queen.</p>
  <hr>

    <h3><a href="https://www.bookpeople.com/" target="_blank">BookPeople</a></h3>
    <p>603 N Lamar Blvd, Austin, TX 78703</p>
    <hr>
  
    <h3><a href="https://www.resistenciabooks.com/" target="_blank">Resistencia Bookstore</a></h3>
    <p>2000 Thrasher Ln, Austin, TX 78741</p>
    <hr>
  
    <h3><a href="http://malvernbooks.com/" target="_blank">Malvern Books</a></h3>
    <p>613 W 29th St, Austin, TX 78705</p>
    <hr>
  
    <h3><a href="https://www.monkeywrenchbooks.org/" target="_blank">Monkeywrench Books</a></h3>
    <p>110 N Loop Blvd E, Austin, TX 78751</p>
    <hr>
  
    <h3><a href="https://www.facebook.com/bravenewbookstore/" target="_blank">Brave New Books</a></h3>
    <p>1904 Guadalupe St # B, Austin, TX 78705</p>
    <hr>
  
    <h3><a href="https://www.ebookwoman.com/" target="_blank">BookWoman</a></h3>
    <p>5501 N Lamar Blvd, Austin, TX 78751</p>
    <hr>
  
    <h3><a href="https://balconesbooks.com/" target="_blank">Balcones Books</a></h3>
    <p>5430, 3313 Hancock Dr, Austin, TX 78731</p>
    <hr>
  
    <h3><a href="http://library.austintexas.gov/recycled-reads" target="_blank">Recycled Reads</a></h3>
    <p>5335 Burnet Rd, Austin, TX 78756</p>
    <hr>
  
    <h3><a href="https://southcongressbooks.com/" target="_blank">South Congress Books</a></h3>
    <p>1608 S Congress Ave, Austin, TX 78704</p>
    <hr>
  
    <h3><a href="https://www.12thstreetbooks.com/" target="_blank">12th Street Books</a></h3>
    <p>827 W 12th St, Austin, TX 78701</p>
    <hr>
  
</div>

    <div class="row">
      {% for members in queen.members %}
        <div class="col">
          <img src="img/{{ member.image }}.jpg" alt="" class="img-fluid">
          <h3><a href="member/{{ member.image }}.html">{{ member.title }}</a></h3>
        </div>
      {% endfor %}
    </div>
      <h2>Bookstores loop</h2>
       <p>This loops through data that came from a Google Sheet example.</p>
       <hr>
      {% for discography in queen.discography %}
      <h3><a href="{{ store.url }}" target="_blank">{{ store.name }}</a></h3>
       <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
       <hr>
  {% endfor %}
  </div>
{% endblock %}
