{% extends '_templates/base.njk' %}

{% block page_title %}Band Members{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
  <div class="container">
      <h1>Queen the Band</h1>
        <p> Queen, formed in London in 1970, embarked on a legendary musical journey that spans genres and generations. The quartet—Freddie Mercury, Brian May, Roger Taylor, and John Deacon—blazed a trail with their dynamic sound, marked by Freddie's unparalleled vocals, Brian's intricate guitar work, Roger's powerful drumming, and John's solid bass lines. From the groundbreaking "Bohemian Rhapsody" on "A Night at the Opera" to anthems like "We Will Rock You" and "We Are the Champions," Queen's discography is a tapestry of innovation. Their iconic Live Aid performance in 1985 is etched in history. </p>
      <h2>Band Members</h2>
        <p>Here is a list of Queen's band members.</p>
  <div class="row">
    
      <div class="col">
        <img src="img/img-queen/members/freddie-mercury-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/freddie-mercury.html">Freddie Mercury</a></h3>
      </div>
    
      <div class="col">
        <img src="img/img-queen/members/brian-may-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/brian-may.html">Brian May</a></h3>
      </div>
    
      <div class="col">
        <img src="img/img-queen/members/roger-taylor-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/roger-taylor.html">Roger Taylor</a></h3>
      </div>

       <div class="col">
        <img src="img/img-queen/members/john-deacon-color.jpg" alt="" class="img-fluid">
        <h3><a href="blog/john-deacon.html">John Deacon</a></h3>
      </div>
        
  <h2>Discography</h2>
  <p>List of studio albums for Queen.</p>
  <hr>

    <h3><a href="https://www.bookpeople.com/" target="_blank">Queen</a></h3>
    <p>1973</p>
    <hr>
  
    <h3><a href="https://www.resistenciabooks.com/" target="_blank">Queen II</a></h3>
    <p>1974</p>
    <hr>
  
    <h3><a href="http://malvernbooks.com/" target="_blank">Sheer Heart Attack</a></h3>
    <p>1974</p>
    <hr>
  
    <h3><a href="https://www.monkeywrenchbooks.org/" target="_blank">A Night at the Opera</a></h3>
    <p>1975</p>
    <hr>
  
    <h3><a href="https://www.facebook.com/bravenewbookstore/" target="_blank">A Day at the Races</a></h3>
    <p>1976</p>
    <hr>
  
    <h3><a href="https://www.ebookwoman.com/" target="_blank">News of the World</a></h3>
    <p>1977</p>
    <hr>
  
    <h3><a href="https://balconesbooks.com/" target="_blank">Jazz</a></h3>
    <p>1978</p>
    <hr>
  
    <h3><a href="http://library.austintexas.gov/recycled-reads" target="_blank">The Game</a></h3>
    <p>1980</p>
    <hr>
  
    <h3><a href="https://southcongressbooks.com/" target="_blank">Flash Gordon (Original Soundtrack)</a></h3>
    <p>1980</p>
    <hr>
  
    <h3><a href="https://www.12thstreetbooks.com/" target="_blank">Hot Space</a></h3>
    <p>1982</p>
    <hr>

    <h3><a href="https://www.12thstreetbooks.com/" target="_blank">The Works</a></h3>
    <p>1984</p>
    <hr>

    <h3><a href="https://www.12thstreetbooks.com/" target="_blank">A Kind of Magic</a></h3>
    <p>1986</p>
    <hr>

    <h3><a href="https://www.12thstreetbooks.com/" target="_blank">The Miracle</a></h3>
    <p>1989</p>
    <hr>

    <h3><a href="https://www.12thstreetbooks.com/" target="_blank">Innuendo</a></h3>
    <p>1991</p>
    <hr>

    <h3><a href="https://www.12thstreetbooks.com/" target="_blank">Made in Heaven</a></h3>
    <p>1995</p>
    <hr>
  
</div>

    <div class="row">
      {% for members in queen.members %}
        <div class="col">
          <img src="img/{{ member.image }}.jpg" alt="" class="img-fluid">
          <h3><a href="member/{{ member.image }}.html">{{ member.title }}</a></h3>
        </div>
      {% endfor %}
  </div>
{% endblock %}

