{% extends '_templates/base.njk' %}

{% block page_title %}Band Members{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
  <div class="container">
      <h1>Queen the Band</h1>
        <p> Queen, formed in London in 1970, embarked on a legendary musical journey that spans genres and generations. The quartet—Freddie Mercury, Brian May, Roger Taylor, and John Deacon—blazed a trail with their dynamic sound, marked by Freddie's unparalleled vocals, Brian's intricate guitar work, Roger's powerful drumming, and John's solid bass lines. From the groundbreaking "Bohemian Rhapsody" on "A Night at the Opera" to anthems like "We Will Rock You" and "We Are the Champions," Queen's discography is a tapestry of innovation. Their iconic Live Aid performance in 1985 is etched in history. </p>
      <h2>Band Members</h2>
        <p>Here is a list of Queen's band members.</p>

  <div class="row">
    {% for member in queen.members %}
      <div class="col">
        <img src="img/img-queen/members/{{ member.image }}" alt="" class="img-fluid">
        <h3><a href="member/{{ member.slug }}.html">{{ member.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  </div>

{% endblock %}

