{% extends '_templates/base.njk' %}

{% block page_title %}Band Members{% endblock %}

{% block page_description %}Queen Band Members{% endblock %}

{% block content %}
<article class="container">
  <h1>Queen Band Members</h1>
  <p>Here are a list of band members.</p>
  <div class="row">
    {% for member in queen.members %}
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-danger">
        <div class="card-body">
          <h5 class="card-title">{{ member.name }}</h5>
          <h6 class="card-title">{{ member.tenure }}</h6>
          <p class="card-text">{{ member.description }}</p>
          <a href="{{ member.source }}">source</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
