{% extends '_templates/base.njk' %}

{% block page_title %}Band Members{% endblock %}

{% block page_description %}Queen Band Members{% endblock %}

{% block content %}
<article class="container">
  <h1>Queen Band Members</h1>
  <p>Here are a list of band members.</p>
</article>
{% endblock %}
