{% extends '_templates/base.njk' %}

{% block page_title %}Band Members{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Tour Dates, City and Venues!</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">City</th>
        <th scope="col">Venue</th>
      </tr>
    </thead>
    {% for stops in queen.tour %}
    <tbody>
      <tr>
        <td>{{ stops.date }}</td>
        <td>{{ stops.city }}</td>
        <td>{{ stops.venue }}</td>
      </tr>
    </tbody>
      {% endfor %}
  </table>
</div>




{% endblock %}